.title {
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;

  font-weight: 500;
}

.categoryTitle {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.regionSection {
  display: grid;
  grid-template-columns: 180px 180px; //RegionTemplate Width Determined Here!
  grid-template-rows: auto auto auto;
  justify-content: center;

  row-gap: 20px;
}

.topicSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 1.25rem;
  }

  .categoryTitle {
    font-size: 1.10rem;
  }

  .regionSection {
    column-gap: 30px;
  }
}

@media screen and (min-width: 725px) {
  .title {
    font-size: 1.75rem;
    margin-top: 3rem;
  }

  .categoryTitle {
    font-size: 1.25rem;
  }

  .regionSection {
    display: grid;
    grid-template-columns: 200px 200px;

    column-gap: 50px;
  }
}

@media screen and (min-width: 850px) {
  .regionSection {
    display: grid;
    grid-template-columns: 250px 250px;
    column-gap: 100px;
  }
}

@media screen and (min-width: 1130px) {
  .topicSection {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 2rem;
    margin-top: 5rem;
  }

  .categoryTitle {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }

  .regionSection {
    display: grid;
    grid-template-columns: 200px 200px 200px; 
    grid-template-rows: auto;
    justify-content: center;

    column-gap: 60px;
    row-gap: 40px;

  }
}

/*
The Width of the Region = grid-template-columns: ### = img width + paragraph width + empty space (optional)
*/