$light-blue-color: rgb(139,217,248);

.newsCategoryTopicTemplate {
  display: flex;
  flex-direction: row;
  align-items: center;


  margin-bottom: 1rem;

  cursor: pointer;

  .topicName {
    width: 220px; //TopicTemplate Name's Width Determined Here! And TopicTemplate Image's Width Determined in news-category-topics-template.js
    margin-left: 0.7rem;
  }

  .topicName:hover {
    color: $light-blue-color;
  }
}